@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback');

@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";

:root {
  --primary-color: rgb(152,191,19);
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

ul {
	margin: 0;
}

/* Spinner */
.show_spinner {
	display: flex!important;
}
.content_lds-facebook {
	position: absolute;
	z-index: 99;
	display: none;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
.lds-facebook {
  display: flex;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
	z-index: 1040;
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--primary-color);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}
/* Spinner end */

/* Login */
html {
  height: 100vh!important;
  background: black;
  background: url('/img/login/fondo.jpg')!important;
  background-position: 50% 50%!important;
  background-repeat: repeat-y!important;
}

body {
  background: none;
  height: 100%!important;
}

#app > .login {
  height: 100vh!important;
}

.login,
.login .container,
.login .row {
  height: 100%;
}

.login .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column!important;
  height: 100%;
}

.login .logo {
  margin-bottom: 30px; 
  text-align: center;
  max-width: 70%;
}

.login .formulario h1 {
  color: var(--primary-color);
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.login .formulario .form-control {
  border: 1px solid white;
  background: black;
  color: white;
}

.login .formulario input::placeholder {
  color: rgb(210, 210, 210);
}

.login .formulario label {
  font-size: 0.85rem;
  color: rgb(210, 210, 210);
}

.login .formulario .btn-primary {
  margin-top: 20px;
  background: var(--primary-color);
  border: none;
  margin-bottom: 10px;
}

.login .formulario .btn-primary:hover {
  background: white;
  color: var(--primary-color);
}

.login .formulario a {
  color: var(--primary-color);
  font-size: 0.85rem;
}

/* Login end */

/* MEDIA QUERIES */
@media (min-width: 576px) {

  /* Login */
  .login .row {
    flex-direction: row!important;
  }  
  /* Login end */

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

  /* Login */
  .login .logo {
    max-width: 50%;
  }
  /* Login end */

}

@media (min-width: 1200px) {
  /* Login */
  .login .logo {
    max-width: 40%;
  }
  /* Login end */
}

@media (min-width: 1400px) {

}

